<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./static/css/GroundZero.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GroundZero</title>
    <link rel="stylesheet" href="./static/css/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/color.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script>
</head>
<body style="background-color:#EEEDEC;">
<!-- inicio de compra -->
<section class="h-100 h-custom" style="background-color: #6b6868;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card">
            <div class="card-body p-4">
  
              <div class="row">
  
                <div class="col-lg-7">
                  <h5 class="mb-3"><a href="{% url 'GroundZeroInicio.html'%}" class="text-body"><i
                        class="fas fa-long-arrow-alt-left me-2"></i>Seguir comprando</a></h5>
                  <hr>
  
                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <div>
                      <p class="mb-1">Carro de la compra</p>
                      <p class="mb-0">Tienes 1 artículos en tu carrito</p>
                    </div>
                    <div>
                      <p class="mb-0"><span class="text-muted">Ordenar por:
                      </span> <a href="#!"
                          class="text-body">precio <i class="fas fa-angle-down mt-1"></i></a></p>
                    </div>
                  </div>
  
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                          <div>
                            <img
                              src="./static/img/imagenes/12.jpg"
                              class="img-fluid rounded-3" alt="imagen no encontrada" style="width: 85px;">
                          </div>
                          <div class="ms-3">
                            <h5>La noche estrellada, de Vincent Van Gogh</h5>
                            <p class="small mb-0">51 x 40 cm.</p>
                          </div>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                          <div style="width: 50px;">
                            <h5 class="fw-normal mb-0">1</h5>
                          </div>
                          <div style="width: 80px;">
                            <h5 class="mb-0">$900</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5">
  
                  <div class="card bg-primary text-white rounded-3">
                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-center mb-4">
                        <h5 class="mb-0">Detalles de tarjeta</h5>
                      </div>
  
                      <!-- inicio formulario -->
                      
                      <form class="row g-3 needs-validation" novalidate> 
                        <div class="form-outline form-white mb-4">
                            <input type="text" class="form-control form-control-lg" pattern="^[^\d]+$" id="validationCustom01" 
                            placeholder="Miguel Astorga Diaz" minlength="5" maxlength="19" required>
                            <label for="validationCustom01" class="form-label">Nombre de Titular</label>
                            <div class="valid-feedback">
                              ¡Se ve bien!
                            </div>
                            <div class="invalid-feedback">
                              Por favor, ingresa su nombre no numeros.
                          </div>
                        </div>
                        <!--efecto de contorno outline-->
                        <div class="form-outline form-white mb-4">
                          <input type="text" class="form-control form-control-lg" id="validationCustom02"  
                                 placeholder="1234 5678 9012 3456" minlength="19" maxlength="19" required
                                 pattern="\d{4}\s\d{4}\s\d{4}\s\d{4}">
                          <label for="validationCustom02" class="form-label">Número Tarjeta</label>
                          <div class="valid-feedback">
                              ¡Se ve bien!
                          </div>
                          <div class="invalid-feedback">
                              Por favor, ingresa un número de tarjeta válido.
                          </div>
                      </div>
                      
                    
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <div class="form-outline form-white">
                                    <input type="text" class="form-control form-control-lg" id="validationCustom03" 
                                        placeholder="MM/YY" pattern="(0[1-9]|1[0-2])\/[0-9]{2}" required>
                                    <label for="validationCustom03" class="form-label">Vencimiento (MM/YY)</label>
                                    <div class="valid-feedback">
                                      ¡Se ve bien!
                                    </div>
                                    <div class="invalid-feedback">
                                        Por favor, ingresa una fecha de vencimiento válida en el formato MM/YY.
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-outline form-white">
                                    <input type="password" class="form-control form-control-lg" id="validationCustom05" 
                                        placeholder="&#9679;&#9679;&#9679;" pattern="\d{3}"  minlength="3" maxlength="3" required>
                                    <label for="validationCustom05" class="form-label">CVV</label>
                                    <div class="valid-feedback">
                                      ¡Se ve bien!
                                    </div>
                                    <div class="invalid-feedback">
                                      Por favor, ingresa un numero no letras.
                                  </div>
                                </div>
                            </div> 
                        </div> 
                    </form>
                    <script src="./static/js/validajson.js"></script>
                      
                    <!-- termino  formulario -->
                    
                      <hr class="my-4">
  
                      <div class="d-flex justify-content-between">
                        <p class="mb-2">Subtotal</p>
                        <p class="mb-2">$900</p>
                      </div>
                      
                      <!-- botones con javascrip -->

                      <div class="d-flex justify-content-between">
                        <p id="textoMostrado1" class="mb-2"></p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p id="textoMostrado2" class="mb-2"></p>
                      </div>
                      <button id="boton1" class="boton">Envío</button>
                      <button id="boton2" class="boton">Retirar en tienda</button>

                      <!-- final btn -->

                          <!-- Button trigger modal -->
                          <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" style="text-align:right">
                            Guardar datos 
                          </button>

                          <!-- Modal -->
                          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: black;">Guardar Tarjeta</h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body" style="color: black;">
                                  <p>Desea guardar los datos de la tarjeta para cuando compre de nuevo sea mas facil.</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
                                </div>
                              </div>
                            </div>
                          </div>
                </div>
                <button id="botonPago" type="button" class="btn btn-warning" style="text-align:center">Pagar = $</button>
                <script src="./static/js/btn.js"></script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- fin de compra -->
   <!-- inicio del footer -->
   <footer>
    <div class="container-fluid" style="background-color: #AEB6BF;">
      <div class="row">
        <div class="col-4" style="margin-top: 20px;">
          <h5>¿En qué te podemos ayudar?</h5>
          <hr>
          <ul class="ul-no-bullet">
            <li>
              Informaciones
            </li>
            <li>
              preguntas frecuentes
            </li>
            <li>
              Referencias
            </li>
          </ul>
        </div>
        <div class="col-4"style="margin-top: 20px;">
          <h5>Siguenos en nuestras redes sociales</h5>
          <hr>
          <ul class="ul-no-bullet">
            <li>
              Facebook <a href="https://web.facebook.com/marketplace/106532542716776/search?query=pc%20gamer&vertical=C2C&_rdc=1&_rdr"><img src="./imagenes/facebook.svg" alt=""></a>
            </li>
            <li>
              X (Antes Twitter) <a href=""><img src="./static/img/imagenes/twitter-x.svg" alt=""></a>
            </li>
            <li>
              Instagram <a href=""><img src="./static/img/imagenes/instagram.svg" alt=""></a>
            </li>
            <li>
              Whatsapp <a href=""><img src="./static/img/imagenes/whatsapp.svg" alt=""></a>
            </li>
          </ul>
        </div>
        <div class="col-4"style="margin-top: 20px;">
          <h5>¿En qué te podemos ayudar?</h5>
          <hr>
          <ul class="ul-no-bullet">
            <li>
              Informaciones
            </li>
            <li>
              preguntas frecuentes
            </li>
            <li>
              Referencias
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- fin del footer -->
  <script src="./static/js/js/bootstrap.bundle.min.js"></script>
  <!-- javaScript code -->
  <script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
    })
  </script>
</body>
</html>