<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/GroundZero.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GroundZero</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body style="background-color:#EEEDEC;">
<!-- inicio register -->
<div class="wrapper">

  <h2>Registro</h2>
  <form id="registerForm" action="#">
    {% csrf_token %}
    <div class="input-box">
      <input id="InputCorreo" type="email" placeholder="Ingresa tu Correo" required>
      {{ register_form.username }}
    </div>
    <div class="input-box">
      <input id="Inputcontrasena" type="password" placeholder="Crea tu contraseña" required>
      {{ register_form.password1 }}
    </div>
    <div class="input-box">
      <input id="Inputconfirmacioncontrasena" type="password" placeholder="Confirma tu contraseña" required>
    </div>
      {{ register_form.password2 }}
    <div class="policy"> 
      <input type="checkbox" id="terminosycondiciones">
      <h3>Aceptas los <a href="terminosycondiciones.html">terminos y condiciones</a></h3>
    </div>
    <div class="input-box button">
      <input type="Submit" value="Regístrate Ahora">
    </div>
    <div class="text">
      <h3>¿Ya tienes una cuenta? <a href="./GroundZeroLogin.html">Ingresa Aquí</a></h3>
    </div>
  </form>
</div>


  <!-- fin register -->
  
  <!-- Boton Para Retroceder -->
  <div class="input-box button">
    <button type="button" onclick="window.location.href='{% url 'GroundZeroInicio.html'%}'" class="back-button"> 
    Pagina principal
    </button>
  </div>

  <script src="static/js/bootstrap.bundle.min.js"></script>

  <!-- javaScript code Poppover-->
  <script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
    });
  </script>

  <!-- JavaScript para validación -->
  <script>
    document.getElementById("registerForm").addEventListener("submit", function(event) {
      var termsCheckbox = document.getElementById("terminosycondiciones");

      if (!termsCheckbox.checked) {
        alert("Por favor, acepta los términos y condiciones.");
        event.preventDefault();
      }
    });
  </script>

</body>
</html>
